body, html{
background-color: #F1F1F3;
}

#page_logos{
min-height: 110vh;
}

#logos{
padding: 7em 2em;
width: 100%;
box-sizing: border-box;
}

#logos .logo-wrapper{
float: left;
width: 20%;
padding-top: 15%;
height: 0;
cursor: pointer;
position: relative;
}

#logos .logo-outer{
transition: box-shadow 0.5s, margin 0.5s, width 0.5s;
box-shadow: 2px 1px 5px rgba(200, 220, 230, 0);
overflow: hidden;
border-radius: 0.5em;
margin: 0;
width: 95%;
height: 95%;
margin: 2.5%;
position: absolute;
top: 0;
left: 0;
}

#logos .logo-wrapper:hover .logo-outer{
width: 100%;
height: 100%;
margin: 0;
box-shadow: 2px 1px 5px rgba(190, 210, 220, 1);
}

#loading_logos{
background: transparent url(img/spinner_dark.svg) no-repeat;
background-position: 50%;
float: left;
width: 100%;
height: 10em;
}

.logo-info{
position: absolute;
bottom: 0;
left: 0;
width: 150%;
background: rgba(0,0,0,0.8);
opacity: 0;
transition: opacity 0.5s;
color: #fff;
font-size: 0.85em;
padding: 1em 2em;
box-sizing: border-box;
}

.logo-info .title{
display: block;
}

.logo-info .domain{
display: block;
font-size: 0.85em;
opacity: 0.5;
}

.logo-info .domain img{
width: 0.9em;
margin: 0 0.5em 0 0;
vertical-align: middle;
}

.logo-info a{
border-radius: 2em;
height: 2em;
float: left;
color: #fff;
line-height: 1.5em;
background: rgba(255, 255, 255, 0.3);
padding: 0 0.5em;
margin: 0.5em 0.5em 0 0;
}

.logo-info a:hover{
background: rgba(255, 255, 255, 0.5);
}

.logo-info a span{
max-width: 0;
overflow: hidden;
display: inline-block;
vertical-align: middle;
transition: max-width 0.5s, margin 0.5s;
}

.logo-info a:hover span, .logo-info a.btn-register span{
max-width: 12em;
margin-left: 0.5em;
}

.logo-info a img{
display: inline-block;
width: 1em;
height: 1em;
vertical-align: middle;
margin-top: 0.25em;
margin-left: 0.1em;
}

.logo-wrapper:hover .logo-info{
opacity: 0.9;
}

.heart{
position: absolute;
bottom: 0.8em;
right: 1em;
z-index: 30;
width: 1.2em;
height: 1.2em;
overflow: visible;
padding: 0.5em;
border-radius: 2em;
box-sizing: content-box;
}

.heart:hover{
background-color: rgba(255,255,255,0.2);
}

.logo-wrapper:hover .heart .outline{
fill: #ffffff !important;
}

#top-nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 4.5em;
    margin: 0;
    padding: 1em 0;
    z-index: 99;
}

#top-nav .nav-item{
    margin: 0 0.5em;
}

#page_loading{
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: 999;
font-weight: 300;
color: #a7beff;
text-align: center;
}

#page_loading h2{
font-size: 1.2em;
font-weight: 300;
margin: 0;
padding: 0;
}

#page_loading svg{
position: fixed;
width: 20em;
top: 50%;
left: 50%;
margin-left: -10em;
margin-top: -7em;
}

#loading_text{
position: fixed;
top: 50%;
left: 50%;
width: 20em;
margin-left: -10em;
margin-top: -1em;
}

#page_loading svg .animate-stroke{
stroke-dasharray: 120;
stroke-dashoffset: 120;
animation: dash 6s ease-in-out forwards;
}

#page_loading svg .animate-fill{
opacity: 0;
animation: fadein 1s ease-in-out forwards;
animation-delay: 6s;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes fadein {
  to {
    opacity: 1;
  }
}

/* premium */
.premium .logo-inner{
    background-color: #fff;
}

.premium .logo-inner img{
    width: 84%;
    height: auto;
    margin: 14% 8%;
}

.premium .logo-inner.namelix img{
    width: 100%;
    height: auto;
    margin: 0;
}

.premium-label{
    position: absolute;
    bottom: 5%;
    right: 4%;
    z-index: 10;
    background-color: #4A65BC;
    color: #fff;
    font-size: 0.7em;
    padding: 0.2em 0.6em;
    border-radius: 0.5em;
    opacity: 0.5;
}

@media only screen and (max-width : 1250px) {
    #logos .logo-wrapper{
    width: 25%;
    padding-top: 18.75%;
    }
}

@media only screen and (max-width : 991px) {
    #logos .logo-wrapper{
    width: 33.33%;
    padding-top: 25%;
    }
}

@media only screen and (max-width : 768px) {
    #logos .logo-wrapper{
    width: 50%;
    padding-top: 37.5%;
    }
    #logos{
    padding-left: 1em;
    padding-right: 1em;
    }
    
    #page_loading svg{
    width: 15em;
    margin-left: -7.5em;
    }
    
    #loading_text{
    font-size: 0.8em;
    }
}

@media only screen and (max-width : 495px) {
    #logos{
    padding-left: 0.5em;
    padding-right: 0.5em;
    }
}

@media only screen and (max-width : 390px) {

}